langchain-openai
langchain
python-dotenv
langchain_community 
langchain_core
streamlit
langchain-groq
langchain-text-splitters
faiss-cpu
chromadb
sentence_transformers
langchain_chroma
langchain_huggingface